.BookPage {
  display: flex;
  flex-direction: column;
  background: linear-gradient(#4bdb84, #13ce5c);
  min-height: 100vh;

  .BookHeader {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
    color: white;
  }

  .Main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;

    .BookMainContent {
      display: flex;
      flex-direction: row;
      color: black;
      background: LightGreen;
      width: 100%;

      .BookNavbar {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        padding: 70px 10px 0 40px;
        top: 0;
        min-width:90px;
        box-sizing: content-box;

        .BookLink {
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 66px;
          width: 66px;
          border-radius: 50%;
          text-decoration: none;
          color: black;
          font-size: 24px;
          margin: 0 0 20px 0;
          transition: width 0.4s, height 0.4s, margin-top .4s, margin-bottom .4s;

          &:last-child:not(.Active){
            margin-bottom: 44px!important;
          }

          &.Active {
            height: 90px;
            width: 90px;
            border: 3px solid white;
            margin-bottom: 8px;
            margin-top: -12px;
          }
        }
      }

      .CardsContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: stretch;
        padding-top: 60px;
      }
    }
  }
}

.Pagination {
  bottom: 0;
  position: sticky;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  //background: white;
  font-size: 17px;
  justify-content: center;
  color: black;
  align-items: center;
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);
}

.selectedInput {
  width: 20px;
}

.arrow {
  font-weight: bold;
  padding: 10px 13px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  margin-left: 5px;
}

.arrow:hover {
  cursor: pointer;
}

.doubleArrow {
  color: red;
}

.singleArrow {
  color: blue;
  padding: 10px 15px;
}

.settingsBlackout {
  top: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  z-index: 5;
  background: rgba(41, 41, 41, 0.6);
}

.settingsContent {
  position: absolute;
  top: calc(100vh / 2);
  left: calc(100vw / 2);
  color: white;
  z-index: 10;
}

.activeSettings {
  color: gold;
}

.headerLink {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

.userHeader {
  display: flex;
  margin-left: 10px;
}

.VocabularyHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.VocabularySection {
  color: black;
  text-decoration: none;
}

.DifficultWord {
  background-color: blueviolet;
}

.DeletedWord {
  display: none;
}
