.container {
  height: '100vh';
  position: 'relative';
}
.exitContainer {
  position: 'absolute';
  padding: '1rem';
  zIndex: 1;
  top: 0;
}
.backgroundImg {
  position: 'absolute';
  width: '100vw';
  height: '100vh';
  objectFit: 'cover';
}