.Button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color .3s, color .3s;
  padding: 5px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;

  &:hover{
  }
}

.TransparentButton{
  padding: 10px 15px;
  border-radius: 15px;
  border: 3px solid white;
  color: white;
  &:hover{
    background-color: rgba(255,255,255,0.5);
    color: #d43d1e;
  }
}


.ResetButton{
  font-size: 40px;
  color: white;
  width: 60px;
  height: 60px;
  padding: 0;
  &:hover{
    background-color: transparent;
  }
  &:active{
    font-size: 35px;
  }
}

.CloseLinkButton{
  color: white;
  padding: 0;
  position: absolute;
  top: 15px;
  right: 15px;
  transition: top .3s, right .3s;
  &:active{
    font-size: 36px;
    top:17px;
    right: 17px;
  }

  .Icon{
    font-size: 40px;
    transition: font-size .3s;
    &:active{
      font-size: 36px;
    }
  }
}

.SoundButton{
  font-family: Material Icons;
  font-size: 30px;
}

.HardButton{
  font-size: 25px;
  padding: 0;
  &:active{
    font-size: 22px;
    padding-right: 2px;
  }
}

.CloseButton{
  font-size: 25px;
}

.GameButton{
 >div{
   width: 90%;
   height: 90%;
   margin: auto;
   background-size: cover;
 }
}

.PopUpMenuButton{
  transition: transform .4s, color .4s;
  font-size: 30px;
  &.Active{
    color: white;
    transform: rotate(180deg);
  }
}

.SearchButton{
  font-size: 30px;
  color: #333;
  &:hover{
    color: white;
  }
  &.Active{
    color: white
  }
}