@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  @return $string;
}


//COLORS
$light-orange: #ff8758;
$dark-orange: #d43d1e;
$light-blue: #76d3d5;
$dark-blue: #40BFC1;


//SHADOWS