@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

$navigation-z-index: 3;
$girl-z-index: 4;
$description-z-index: 2;
$wave-z-index: 1;

$light-orange: #ff8351;
$dark-orange: #d43d1e;
$light-blue: #76d3d5;
$dark-blue:#40BFC1;

.MainPage {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
  color: #333;

  $bgGradTrueColor1: $light-orange;
  $bgGradTrueColor2: $dark-orange;
  $bgGradColor1: str-replace('' + $bgGradTrueColor1, '#', '%23');
  $bgGradColor2: str-replace('' + $bgGradTrueColor2, '#', '%23');

  .NavigationZIndex{
    z-index: $navigation-z-index;
  }

  .Bg{
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height: 640px;
    background: radial-gradient($light-blue, $dark-blue);


    .Girl {
      z-index: $girl-z-index;
      width: 20%;
      min-width: 200px;
      position: absolute;
      bottom: 15%;

      > div {
        padding-top: 72.7%;
        background-size: cover;
        box-sizing: border-box;
      }
    }

    $gradientType: "linear";
    $gradientRotate: 90;

    .Wave {
      top: 0;
      z-index: $wave-z-index;
      background-image: url("data:image/svg+xml,"
    +"%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1920 1080'%3E"
    +"%3Cdefs%3E"
    +"%3C" + $gradientType +"Gradient gradientTransform='rotate(" + $gradientRotate + ")' id='Grad' %3E"
    +"%3Cstop offset='5%' stop-color='"+ $bgGradColor1 +"'/%3E%"
    +"3Cstop offset='95%' stop-color='"+ $bgGradColor2 +"'/%3E"
    +"%3C/" + $gradientType +"Gradient%3E"
    +"%3C/defs%3E"
    +"%3Cg%3E"
    +"%3Cpath fill='url(%23Grad)' d='M0,0H1920V316c0,17.2,4.24,102.781-2,110q-16.005,2.5-32,5c-33.87,9.055-58.57,24.7-75,51-42.79,68.48-38.41,188.536-101,237-41.87,32.424-111.24,14.641-161,1-23.08-6.328-58.26-13.3-80,0-51.85,31.719-42.56,143.624-83,194-53.43,66.558-112.44-7.48-181,13-40.89,12.215-55.5,49.306-79,79-24.85,31.4-68.4,52.76-111,66-24.733,7.68-54.408,10.81-80,3-41.186-12.56-68.66-37.4-111-48-90.761-22.72-170.29,6.92-214-67-17.6-29.755-14.8-62.739-22-106-8.411-50.52-23.21-95.047-56-121-29.047-22.99-64.057-23.28-109-33-41.524-8.981-84.623-18.921-117-38-49.981-29.453-58.426-89.644-93-134-11.5-14.749-30.006-26.933-52-31-20.732-3.834-39.72,3.486-54,7-34.905,8.589-70.349.263-90-15-5.965-4.633-14.677-11.2-17-19V0ZM418,453'/%3E%3C/g%3E%3C/svg%3E");
      width: 100%;
      height: 82%;
      position: absolute;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center 120%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .Footer{
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 20px 5px 10px;
    color: #333;

    .Authors{
      //color: #333;
      display: flex;
      flex-direction: column;
      margin-left: auto;
      align-items: flex-end;
      color: #333333;
      a{
        color: inherit;
        text-decoration: none;
      }
      .GHButton{
        font-size: 18px;
        transition: color .4s;
        display: flex;
        flex-direction: row-reverse;
        &:hover{
          color: white;
        }
        span{
          margin-right: 5px;
        }
      }
    }

    .RSSData{
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      height: 100%;

      font-size: 26px;

      .FooterDate{
        margin-left: 5px;
      }

      .RSSLink{
        display: block;
        height: 40px;
        width: 110px;
        margin-right: 20px;
        margin-bottom: 5px;
        svg{
          transition: fill .4s;
          fill: #333333;
        }
        &:hover{
          svg{
            fill: white;
          }
        }
      }
    }
  }
}

.DescriptionBlock{
  position: absolute;
  left: 5%;
  width: 25%;
  min-width: 350px;
  min-height: 400px;
  top: 35%;
  z-index: $description-z-index;
  display: flex;
  flex-direction: column;

  h2{
    font-size: 40px;
    margin: 0 20px 15px 0;

  }

  .LearnMoreLink{

  }


  .SlideBlock{
    position: relative;
    .Slide{
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 0;
      box-sizing: border-box;
      width: 100%;
      &.Active{
        position: relative;
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .NavigationBlock{
    height: 30px;
    display: flex;
    align-items: center;
    .Pagination{
      display: flex;
      .PaginationButton{
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: white;
        &:not(:last-child){
          margin-right: 10px;
        }

        &.Active{
          background-color: $light-orange;
        }
      }
    }
    .ButtonBlock{
      font-size: 25px;
      margin: 0 20px 0 auto;
      color: white;
      .NavigationButton{
        &:hover{
          color: $light-orange;
        }
        &:last-child{
          margin-left: 20px;
        }
      }
    }
  }
}
