@import "../../styles/settings";

$girl-z-index: 4;
$navigation-z-index: 3;
$description-z-index: 2;
$wave-z-index: 1;

.MainPage {
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: 1;
  color: #333;

  .NavigationZIndex {
    z-index: $navigation-z-index;
  }

  .Bg {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 640px;
    background: radial-gradient($light-blue, $dark-blue);


    .Girl {
      z-index: $girl-z-index;
      width: 25%;
      min-width: 300px;
      max-width: 400px;
      position: absolute;
      bottom: 10%;
      margin-right: 23%;

      > div {
        padding-top: 72.7%;
        background-size: cover;
        box-sizing: border-box;
      }
    }

    $bgGradColor1: str-replace('' + $light-orange, '#', '%23');
    $bgGradColor2: str-replace('' + $dark-orange, '#', '%23');
    $gradientType: "linear";
    $gradientRotate: 90;

    .Wave {
      top: 0;
      z-index: $wave-z-index;

      background-image: url("data:image/svg+xml,"
    +"%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='200 0 10000 4506'%3E"
    +"%3Cdefs%3E"
    +"%3C" + $gradientType +"Gradient gradientTransform='rotate(" + $gradientRotate + ")' id='Grad' %3E"
    +"%3Cstop offset='5%' stop-color='"+ $bgGradColor1 +"'/%3E%"
    +"3Cstop offset='95%' stop-color='"+ $bgGradColor2 +"'/%3E"
    +"%3C/" + $gradientType +"Gradient%3E"
    +"%3C/defs%3E"
    +"%3Cg%3E"
    +"%3Cpath fill='url(%23Grad)' d='M110,0H11980c-0.9,97.132-61.7,175.575-106,232-66.5,84.649-153.8,153.028-240,218q-121.5,93.99-243,188c-86.6,67.956-185.4,163.53-232,270-12.2,27.74-20.3,57.783-27,91l-3,48c-13.3,55.55-64.6,123.78-104,155-62.5,49.5-139.4,76.26-232,97-95.5,21.39-202.7,24.66-276,68-68.1,40.24-69.3,78.45-100,153q-33.45,72.495-67,145c-13.7,31.07-26.1,64.08-46,89-33.2,41.64-90.7,45.7-145,67-72.8,28.54-146.7,67.56-192,124-165.6,206.48-188.09,528.65-294,795-34.17,85.94-77.8,156.34-131,222-20.19,24.92-51.61,43.22-80,60-185.66,109.76-470.93,28.54-658-23-83-22.87-226.1-46.4-303-1-98.56,58.18-134.49,165.19-172,285-59.88,191.25-84.85,412.3-196,551-21.28,26.56-52.91,48.36-83,66-54.01,31.66-156.17,36.56-230,18-121.33-30.51-286.07-96.65-435-50-171,53.56-241.44,228.94-342,354-36.91,45.91-92.21,82.03-143,114-137.92,86.81-264.9,134.34-460,167q-33-.495-66-1c-26.93-4.48-50.17-2.97-74-9-65.86-16.65-131.85-42.52-186-74-72.34-42.06-148.75-80.36-230-112-64.7-25.2-139.96-37.3-213-52-114.79-23.1-251.96-5.83-370-27-186.92-33.52-306.73-83.09-388-222-28.8-49.23-45.06-109.53-59-173q-6-47.49-12-95-6.495-70.995-13-142c-32.96-175.03-75.09-340.26-163-460-13.95-19-28.8-40.33-47-55-42.34-34.12-84.18-63.21-140-85-82.86-32.34-184.14-36.88-277-60-208.82-51.98-430.41-82.54-583-190-91.83-64.67-163.31-166.08-211-274-64.12-145.11-129.79-305.34-275-369-37.14-16.28-74.18-26.12-121-34-36.97-6.22-74.64,6.89-103,14-60.76,15.24-119.13,26.22-183,37-22.7,3.83-49.83-.75-68-4q-26.49-2.505-53-5c-67.04-15.58-125.6-40.61-172-77-16.69-13.09-30.7-31.45-44-48-18.88-23.49-43.54-42.58-62-67-45.96-60.8-76.23-133.47-101-216-18.64-62.11-23.35-128.99-38-196-28.14-128.71-45.98-230.68-114-318-46.74-60-120.16-101.46-201-127q-57-16.995-114-34c-88.56-34.411-168.55-74.014-240-125-38.32-27.348-79.67-61.653-107-100-74.26-104.194-120.12-227.352-245-281-48.74-20.939-128.16-32.206-195-19-48.408,9.564-98.668,28.522-158,17-130.175-25.279-238.15-74.164-296-172-29.371-49.673-38.647-119.021-73-164-42.9-56.171-128.448-70.158-208-90C176.447,78.9,109.191,76.879,110,0Z'/%3E%3C/g%3E%3C/svg%3E");
      width: 100%;
      right: 0;
      height: 75%;
      position: absolute;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center 95%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.DescriptionBlock {
  position: absolute;
  left: 8%;
  width: 29%;
  min-width: 350px;
  min-height: 400px;
  top: 32%;
  z-index: $description-z-index;
  display: flex;
  flex-direction: column;
  font-size: 18px;

  h2 {
    font-size: 45px;
    margin: 0 20px 15px 0;
  }

  .LearnMoreLink {

  }

  .SlideBlock {
    position: relative;

    .Slide {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 0;
      box-sizing: border-box;
      width: 100%;

      &.Active {
        position: relative;
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .NavigationBlock {
    height: 30px;
    display: flex;
    align-items: center;

    .Pagination {
      display: flex;

      .PaginationButton {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: white;

        &:not(:last-child) {
          margin-right: 10px;
        }

        &.Active {
          background-color: $light-orange;
        }
      }
    }

    .ButtonBlock {
      font-size: 25px;
      margin: 0 20px 0 auto;
      color: white;

      .NavigationButton {
        &:hover {
          color: $light-orange;
        }

        &:last-child {
          margin-left: 20px;
        }
      }
    }
  }
}


.Footer {
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 20px 5px 10px;
  color: #333;

  .Authors {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    align-items: flex-end;
    color: #333333;

    a {
      color: inherit;
      text-decoration: none;
    }

    .GHButton {
      font-size: 18px;
      transition: color .4s;
      display: flex;
      flex-direction: row-reverse;

      &:hover {
        color: white;
      }

      span {
        margin-right: 5px;
      }
    }
  }

  .RSSData {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;

    font-size: 26px;

    .FooterDate {
      margin-left: 5px;
    }

    .RSSLink {
      display: block;
      height: 40px;
      width: 110px;
      margin-right: 20px;
      margin-bottom: 5px;

      svg {
        transition: fill .4s;
        fill: #333333;
      }

      &:hover {
        svg {
          fill: white;
        }
      }
    }
  }
}