.Level1{
  background-color: #47d47f;
  &.SelectLevel{

  }
}
.Level2{
  background-color: #ffc30f;
  &.SelectLevel{

  }
}
.Level3{
  background-color: #ff5733;
  &.SelectLevel{

  }
}
.Level4{
  background-color: #c70039;
  &.SelectLevel{

  }
}
.Level5{
  background-color: #900C3F;
  &.SelectLevel{

  }
}
.Level6{
  background-color: #581845;
  &.SelectLevel{

  }
}