$border-radius: 25px;
$hard-word-color: #fff355;

.Card {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: 0 0 40px 0;
  border-radius: $border-radius;
  background-color: white;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.3),
  0 2px 4px 1px rgba(0, 0, 0, 0.25),
  0 2px 8px 2px rgba(0, 0, 0, 0.2),
  0 4px 16px 4px rgba(0, 0, 0, 0.15);
  transition: box-shadow .3s;

  &.Hard {
    box-shadow: 0 0 1px 3px $hard-word-color,
    0 1px 2px 1px rgba(0, 0, 0, 0.3),
    0 2px 4px 1px rgba(0, 0, 0, 0.25),
    0 2px 8px 2px rgba(0, 0, 0, 0.2),
    0 4px 16px 4px rgba(0, 0, 0, 0.15);
    background-color: $hard-word-color;
    .Overlay{
      background: linear-gradient(transparent, $hard-word-color);
    }
  }

  .HeaderBlock {
    width: 100%;
    height: 260px;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    background-size: cover;

    .Overlay {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      width: 100%;
      height: 100%;
      padding: 20px 20px 10px 20px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
    }

    .WordBlock {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      margin-top: auto;

      > div {
        display: flex;
      }

      .SecondaryBlock {
        font-size: 20px;
        align-items: center;
        justify-content: center;

        > div {
          &:not(:last-child) {
            margin-right: 15px;
          }
        }
      }

      .PrimaryBlock {
        h3 {
          font-size: 40px;
          margin: 0;
        }
      }

      .SoundButton {
        font-size: 25px;
      }
    }

    .ButtonBlock {
      display: flex;
      width: 100%;
      height: 35px;
      align-items: center;

      .StatsCounters {
        margin-left: auto;

        .SuccessCounter {
          font-size: 1.2em;
          color: #13ce5c;
        }

        .TotalCounter {
          font-size: 1.6em;
        }
      }

      .Button {
        width: 25px;
        padding: 0;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;

        &.HardButton {
          margin-top: 3px;
          margin-right: 5px;
          height: 32px;

          &:hover{
            color: $hard-word-color;
          }

          &.Active {
            color: $hard-word-color;
          }
        }

        &.DeleteButton{
          font-family: Material Icons;
          font-size: 30px;
          &:active {
            font-size: 27px;
          }
          &:hover{
            color: #ff3c3c;
          }
          &:before{
            content:"delete_forever"
          }
          &.Active{
            font-size: 37px;
            &:active {
              font-size: 33px;
            }
            &:hover{
              color: #50e238;
            }
            &:before{
              content:"restore_from_trash"
            }
          }
        }
      }

    }
  }

  .CardContent {
    display: flex;
    flex-direction: column;
    padding: 10px 15px 20px 15px;
    width: 100%;
    box-sizing: border-box;

    .WordBlock {
      display: flex;
      flex-direction: column;
      text-align: right;

      &:not(:last-child) {
        margin-bottom: 15px;
        padding-bottom: 15px;
        box-shadow: 0 20px 0 -19px #333;
      }

      .Example {
        font-size: 0.85em;
        margin-top: 5px;
        font-style: italic;
      }
    }

    .IconBlock {

    }
  }
}

.Button {
  color: inherit;
  cursor: pointer;

}
