.WordCardContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
    height: 35vh;
    margin: 20px 20px 20px 20px;
    border: 2px solid gray;
    border-radius: 20px;

}

.Icon {
    font-family: Material Icons;
    font-size: 30px;
}

.Icon:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.IconSuccsess {
    color: green
}

.IconFailture {
    color: red;
}

.WordText {
    text-align: center;
    margin: 10px 0 10px 0;
}

.WordContent {
    margin: 10px 0 10px 0;
}

.ContetntWrapper {
    width: 30%
}

.WordImg {
    width: 390px;
    height: 260px;
    border-radius: 20px;
}

.NotificationWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30vh;
}

.ResultCounter {
  margin-bottom: 10px;
}