

.PuzzleGame{
  display:flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#ff8351, #f65e23);

  .GameLayout{
    width: 80%;
    min-height: 90vh;
    display: flex;
    border-radius: 50px;
    box-sizing: border-box;
    padding: 50px 30px 50px 50px;
    background:  radial-gradient(#e8e8e8, #c7c7c7);
    box-shadow:
      0 1px 2px 1px rgba(0,0,0,0.25),
      0 2px 4px 2px rgba(0,0,0,0.2),
      0 4px 8px 4px rgba(0,0,0,0.15),
      0 4px 16px 8px rgba(0,0,0,0.1);
  }

  .WordBlock{
    width: 85%;
    display: flex;
    flex-direction: column;

    .CurrentWord{
      justify-content: flex-start;
      align-items: center;
      font-size: 50px;
      display: flex;
      margin-bottom: 20px;
      width: 100%;
      font-weight: bold;
    }
    .Translation{
      margin-bottom: 30px;
      font-size: 30px;
    }
    .PuzzleField{
      .PuzzlePieceWrap{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: flex-start;
        transition: height .8s, width .8s;

        &:not(:last-child){
          margin-bottom: 10px;
        }
      }

      .PuzzlePiece{
        border-radius: 15px;
        min-width: 70px;
        box-sizing: border-box;
        margin-bottom: 15px;
        font-size: 30px;
        justify-content: center;
        align-items: center;
        height: 70px;
        display: flex;
        padding: 10px;
        &:not(:last-child){
          margin-right: 10px;
        }
        &.PuzzleCell{
          background-color: #f6f6f6;
          border: 3px solid #909090;
          max-width:140px;
          color: transparent;
          transition: background-color .5s, width .8s, max-width .8s, color .8s;

          &.Selected{
            max-width: 1000px;
            background-color: #ffc764;
            color: inherit;
          }
          &.Hovered{
            background-color: #ffc30f;
          }
        }

        &.PuzzleCard{
          background-color: #ffc764;
          padding: 10px;
          cursor: pointer;
        }
      }
      .Symbol{
        margin-bottom: 5px;
        margin-right: 10px;
        margin-left: -10px;
        font-size: 60px;
      }
    }
  }

  .HelperBlock{
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .Countdown{
      font-size: 80px;
      color: #848484;
      min-width: 100px;
      width: 100%;
      text-align: center;
    }
    .LivesWrapper{
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      margin-top: auto;

      .Life{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        transition: background-color .4s;
        background: #47d47f;
        &.Burnt{
          background: #ff5733;
        }
      }
    }
    .WordList{
      font-size: 15px;
      text-align: right;
      text-decoration: none;
      list-style-type: none;
      >li{
        padding-inline-start: 1ch;
        &.Succeed{
          color: #47d47f;
          list-style-type: "✔️";
        }

        &.Failed{
          color: #ff5733;
          list-style-type: "❌";
        }
        &.Current{
          font-weight: bold;
        }
      }
    }
  }








}